# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Building artifacts
Binaries/
Build/
# Msvc Building argifacts
VcBuild/


# If wanna use internal vcpkg just clone it right here
vcpkg/
vcpkg_installed/

# Lsp stuff
.cache/
compile_commands.json

